@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* ここから書く */

.color {
  width: 400px;
  margin:0 auto;
}

.blue {
  background-color: #141f40;
  width: 400px;
  height: 100px;
  position: relative;
}

.lightblue {
  background-color: #80bfa8;
  width: 150px;
  height: 250px;
  float: left;
}

.red {
  background-color: #8c2727;
  width: 250px;
  height: 250px;
  float: left;
}

.brown {
  background-color: #d98d30;
  width: 400px;
  height: 100px;
}

.allred {
  position: absolute;
  list-style-type: none;
  background-color: white;
  width: 120px;
  height: 60px;
  top:15px;
  margin-left:200px;  
}

.red1 {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 10px;
  margin-left: 73px;
}

.red2 {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: -40px;
  margin-left: 21px;
}

.red3 {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: -40px;
  margin-left: -30px;
}

.allbrown {
  list-style: none;
  position: absolute;
  margin-top: 40px;
  margin-left: 170px;
  margin-right: 50px;
}

.brown1:first-child {
  background-color: #ff863f;
  border:solid 5px white;
  box-sizing: border-box;
  width: 140px;
  height: 50px;
}

.brown2 {
  background-color: #ff863f;
  border:solid 5px white;
  box-sizing: border-box;
  margin-top: 10px;
  width: 140px;
  height: 50px;
}

.brown3 {
  background-color: #ff863f;
  border:solid 5px white;
  box-sizing: border-box;
  margin-top: 10px;
  width: 140px;
  height: 50px;
}